# dependencies
/node_modules

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# next.js
.next/
out/

# production
/build

# misc
.DS_Store
*.pem

# debug
*.log*

# vercel
.vercel

# vscode
/.vscode

# Typescript
tsconfig.tsbuildinfo

# package-lock
package-lock.json